name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use node 16
        uses: actions/setup-node@v2
        with:
          node-version: 16.20.1
      - name: Install dependencies
        run: npm ci